---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer/index.jsx";
import Nav from "../components/Nav/index.jsx";
---

<html lang="en">
  <head>
    <MainHead
      title="About Me | Aidan Timson (Timmo)"
      description="About Me - Aidan Timson (Timmo)"
    />
    <style lang="scss">
      .heroImg {
        max-height: 24rem;
        object-fit: cover;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .bio {
        font-size: var(--f-u1);
        line-height: 2;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <h1>Hello! 👋</h1>
      <div class="heroImg">
        <img width="1400" height="350" src="/assets/logo-header-thin.svg" />
      </div>
      <div class="bio wrapper wrapper__readable mt8">
        <p>
          My name is Aidan, but you may know me better as <a
            href="https://github.com/timmo001"
            target="_blank"
            >Timmo
          </a> or <a href="https://twitter.com/timmo001" target="_blank"
            >@timmo001
          </a>
        </p>
        <h2 id="contact-social">Contact / Social</h2>
        <ul>
          <li>
            <a href="https://github.com/timmo001" target="_blank">GitHub</a> 🐱
          </li>
          <li>Website - You are here 👋</li>
          <li>
            <a href="https://twitter.com/timmo001" target="_blank">Twitter</a> 🐦
          </li>
          <li>
            <a href="mailto:contact@timmo.xyz" target="_blank">E-Mail</a> ✉️
          </li>
        </ul>
        <h2 id="open-source-contributions">Open Source Contributions</h2>
        <p>
          In my spare time, I work on open-source projects on GitHub. I
          contribute to projects such as <a
            href="https://www.home-assistant.io"
            target="_blank"
            >Home Assistant
          </a>, a home automation platform that integrates with many different
          providers using Python for the backend/core and a TypeScript frontend
          using the Polymer framework. I have also written a few of my own
          projects such as <a
            href="https://system-bridge.timmo.dev/"
            target="_blank"
            >System Bridge
          </a> and <a
            href="https://github.com/timmo001/home-panel"
            target="_blank"
            >Home Panel
          </a> which are written in TypeScript and Python using frameworks like NextJS,
          ReactJS, Qt, NestJS and FeathersJS. I&#39;ve written CI pipelines using
          <a href="https://github.com/timmo001/workflows" target="_blank"
            >GitHub workflows
          </a>, Azure DevOps Pipelines and GitLab CI. For my websites, I am
          using a CMS called Strapi, with a NextJS frontend connecting to its
          GraphQL API.
        </p>
        <iframe
          src="https://ghchart.rshah.org/timmo001"
          title="timmo001"
          height="120"
          width="760"
          style="border: 0; background: transparent;"></iframe>

        <h3 id="tips">Tips</h3>
        <p>
          If you like my work and want to send a tip my way, you can find links
          below on one-time payment or an ongoing sponsorship. Thank you in
          advance for any contribution! 👍
        </p>
        <iframe
          src="https://github.com/sponsors/timmo001/card"
          title="Sponsor timmo001"
          height="140"
          width="600"
          style="border: 0; background: transparent;"></iframe>

        <p>
          <a href="https://www.buymeacoffee.com/timmo" target="_blank"
            ><img
              src="https://www.buymeacoffee.com/assets/img/guidelines/download-assets-sm-2.svg"
              alt="Buy Me a Drink at buymeacoffee.com"
            />
          </a>
        </p>
        <p>
          <a href="https://ko-fi.com/M4M6YNVS" target="_blank"
            ><img
              height="36"
              style="border:0px;height:36px;"
              src="https://cdn.ko-fi.com/cdn/kofi1.png?v=2"
              alt="Buy Me a Drink at ko-fi.com"
            />
          </a>
        </p>
      </div>
    </div>
    <Footer />
  </body>
</html>
