---
import MainHead from "../components/MainHead.astro";

import Footer from "../components/Footer";
import Hero from "../components/Hero";
import Nav from "../components/Nav";
import PostPreview from "../components/PostPreview";

const posts = (await Astro.glob("./software/**/*.md"))
  .filter(({ frontmatter }) => !!frontmatter.publishDate)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  );
---

<html lang="en">
  <head>
    <MainHead
      title="Software | Aidan Timson (Timmo)"
      description="Aidan Timson's software"
    />
    <style lang="scss">
      .grid {
        display: grid;
        grid-gap: 3rem;

        @media (min-width: 1200px) {
          grid-template-columns: 1fr 1fr;
        }
      }
    </style>
  </head>
  <body>
    <Nav />
    <Hero title="Software" />
    <div class="wrapper">
      <div class="grid mt4">
        {posts.map((post) => <PostPreview post={post} />)}
      </div>
    </div>
    <Footer />
  </body>
</html>
