---
import { AstroFont } from "astro-font";
import { ViewTransitions } from "astro:transitions";

import "../styles/global.scss";
const {
  title = "Aidan Timson (Timmo)",
  description = "The personal website of Aidan Timson AKA Timmo or timmo001",
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<meta name="msapplication-TileColor" content="#000000" />
<meta name="theme-color" content="#201547" />

<title>{title}</title>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
<AstroFont
  config={[
    {
      src: [],
      name: "Inter",
      preload: true,
      display: "swap",
      selector: "body",
      fallback: "sans-serif",
      googleFontsURL: 'https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap',
    },
  ]}
/>

<ViewTransitions />
