---
import SubpageHeader from "~/components/SubpageHeader.astro";
---

<SubpageHeader title="Loading..." />
<div
  class="flex w-full flex-col items-center justify-start px-4 py-16"
  role="main"
  aria-busy="true"
  aria-label="Loading stats"
>
</div>
