---
import { getTagStyle } from "~/data/tag-styles";
import { getContrastColor, getRGBColorFromHex } from "~/lib/color";

type Props = {
  label: string;
};

const { label } = Astro.props;
const { backgroundColor } = getTagStyle(label);
const textColor = getContrastColor(getRGBColorFromHex(backgroundColor));
---

<span
  class="inline-flex items-center rounded-full px-3 py-1 text-xs font-medium leading-4"
  style={`color: ${textColor}; background-color: ${backgroundColor}`}
>
  {label}
</span>
