---
import Analytics from "@vercel/analytics/astro";

import ContactLinks from "~/components/ContactLinks.astro";
import Footer from "~/components/Footer.astro";
import Navigation from "~/components/Navigation.astro";

import "../styles/global.css";

type Props = {
  title?: string;
  description?: string;
};

const {
  title = "Aidan Timson (Timmo)",
  description = "Personal website for Aidan Timson (Timmo)",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="application-name" content="Aidan Timson (Timmo)" />
    <meta name="publisher" content="Aidan Timson" />
    <meta
      name="keywords"
      content="Aidan Timson, Timmo, Personal Website, Software Engineer, Software Developer, Full-Stack Developer"
    />
    <meta property="og:site_name" content="Aidan Timson (Timmo)" />
    <meta property="og:image" content="/og.png" />
    <meta property="og:url" content="https://timmo.dev" />
    <link rel="icon" href="/logo-letter-square-nobackground.png" />
  </head>
  <body class="flex min-h-screen flex-col bg-gray-950 font-sans antialiased text-white">
    <header class="absolute z-50 flex w-full items-center justify-between gap-4 px-4 py-2">
      <Navigation />
      <div class="hidden shrink-0 flex-row items-center gap-x-4 md:flex">
        <ContactLinks
          classes="h-7 w-7 fill-white transition-transform duration-300 ease-in-out hover:scale-110"
        />
      </div>
    </header>
    <main class="flex flex-1 flex-col items-center justify-start">
      <slot />
    </main>
    <Footer />
    <Analytics />
  </body>
</html>

<script>
  import { initMobileNav } from "~/scripts/mobile-nav";

  initMobileNav();
  document.addEventListener("astro:page-load", initMobileNav);
</script>
