.nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--c-blue-grey);
  z-index: 100;
  transition: opacity 150ms linear;
}

.navelevated {
  box-shadow: var(--s-2);
}

.logolink {
  display: block;
  color: var(--t-fg);
  text-decoration: none;
}

.link {
  color: var(--t-fg);
  display: block;
  margin-left: 1rem;
  text-decoration: none;
  font-size: var(--f-d1);
  text-transform: uppercase;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  transition: fill linear 150ms;

  &:active,
  &:focus,
  &:hover {
    color: var(--t-subdue);
  }
}

.monogram {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  margin-right: 0.5rem;
  color: var(--c-white);
  font-weight: 900;
  letter-spacing: -0.125rem;
  border: 3px solid currentColor;
  border-radius: 50%;
}

.split {
  flex-grow: 1;
}

.social {
  display: block;

  + .social {
    margin-left: 1.4rem;
  }
}

.socialicon {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--t-fg);
  transition: fill linear 150ms;

  &:hover {
    fill: var(--t-subdue);
  }
}
